{{!-- <AuMainHeader
  @brandLink={{"https://www.vlaanderen.be/nl"}}
  @homeRoute="agenda-items"
  @appTitle={{get-constant "appName"}}
>
  <li class="au-c-list-horizontal__item">
    <AuLink @route="help" @skin="secondary" @icon="question-circle">
      Meer info
    </AuLink>
  </li>
</AuMainHeader> --}}
